.table{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.tablerow{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid black;
    width: 100%;
    justify-content: space-between;
}

.amount{
    display: flex;
    align-items: center;
    text-align: right;
    gap: 2rem;
    justify-content: right;
    width: 50%;
}

.amount Button {
    width: 20%;
}
.amount Placeholder{
    width: 20%;
}
.table .paid p{
    text-decoration: line-through;
}
